<!-- Page Title -->

<h1 class="text-center">
  <span *ngIf="isRegister()">Register</span>
  <span *ngIf="!isRegister()">Login</span>
</h1>


<!-- Login or Register, that is the question -->

<p class="text-center text-secondary">
  <span *ngIf="isRegister()">
    or <a routerLink="../login">login</a> if you already have an account
  </span>
  <span *ngIf="!isRegister()">
    or <a routerLink="../register">register</a> if you haven't an account yet
  </span>
</p>


<!-- Form -->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- First Name -->

        <div class="form-group" *ngIf="isRegister()">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control"
                 formControlName="firstName">
        </div>


        <!-- Last Name -->

        <div class="form-group" *ngIf="isRegister()">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control"
                 formControlName="lastName">
        </div>


        <!-- E-mail -->

        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" class="form-control"
                 formControlName="email">
        </div>


        <!-- Password -->

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control"
                 formControlName="password">
        </div>


        <!-- Submit -->

        <div class="float-right">

          <!-- Cancel -->
          <button type="button"
                  class="btn btn-link text-secondary"
                  routerLink="/">
            Cancel
          </button>

          <!-- Submit -->
          <button type="submit"
                  class="btn btn-success"
                  [disabled]="form.invalid">
            Submit
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
