<!-- Header -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <!-- Title -->

  <span class="navbar-brand" routerLink="/">
    io <span class="title-news">News</span>
  </span>


  <!-- Author -->

  <small class="navbar-text mr-auto">
    <a href="https://gitlab.com/alaneparisot/io-news"
       class="author text-secondary">
      by Alane Parisot
      <i class="fa fa-gitlab"></i>
    </a>
  </small>


  <!-- List Selection (Not Small Screens) -->

  <div class="d-none d-sm-inline" *ngIf="!isAuthRouteActive()">
    <ul class="navbar-nav mr-auto">
      <ul class="navbar-nav">
        <li class="nav-item"
            [ngClass]="{ active: isCurrentListId(listId) }"
            routerLink="/"
            (click)="onListIdSelect(listId)"
            *ngFor="let listId of listIds">
          <span class="nav-link">
            {{ listId | shorten | titlecase }}
          </span>
        </li>
      </ul>
    </ul>
  </div>


  <!-- User -->

  <div class="btn-group" ngbDropdown>

    <!-- Login -->
    <button type="button"
            class="btn btn-outline-secondary btn-sm"
            *ngIf="!isAuthenticated()"
            routerLink="user/login">
      <i class="d-inline d-sm-none fa fa-sign-in"></i>
      <span class="d-none d-sm-inline">Login</span>
    </button>

    <!-- Bookmarks -->
    <button type="button"
            class="btn btn-outline-secondary btn-sm"
            *ngIf="isAuthenticated()"
            routerLink="user/bookmarks">
      <i class="d-inline d-sm-none fa fa-bookmark"></i>
      <span class="d-none d-sm-inline">Bookmarks</span>
    </button>

    <!-- Dropdown-->
    <button class="btn btn-outline-secondary btn-sm dropdown-toggle-split"
            ngbDropdownToggle>
    </button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <!-- Register -->
      <button class="btn-secondary btn-sm dropdown-item"
              *ngIf="!isAuthenticated()"
              routerLink="user/register">
        Register
      </button>
      <!-- Logout -->
      <button class="btn-secondary btn-sm dropdown-item"
              *ngIf="isAuthenticated()"
              (click)="onLogout()">
        Logout
      </button>
    </div>
  </div>


</nav>


<!-- List Selection (Small Screens) -->

<div class="d-inline d-sm-none" *ngIf="!isAuthRouteActive()">
  <div class="list-badges container">
     <span class="badge"
           (click)="onListIdSelect(listId)"
           routerLink="/"
           [ngClass]="{'badge-light': !isCurrentListId(listId), 'badge-secondary': isCurrentListId(listId)}"
           *ngFor="let listId of listIds">
    {{ listId | shorten | titlecase }}
  </span>
  </div>
</div>
