.author {
  text-decoration: none;
}

.dropdown-menu {
  min-width: 0;
  padding: 0;
}

.fa-gitlab {
  color: #e65328;
}

.list-badges {
  display: flex !important;
  justify-content: space-around;
  margin-top: .5rem;
}

.nav-link {
  cursor: default;
}

.navbar-brand {
  cursor: default;
  padding-bottom: .6rem; // To be aligned with the author element
}

.title-news {
  font-variant-caps: small-caps;
}
