@import '../../../styles';

.btn-xs {
  padding: 0 .4rem;
}
.btn-xs:not(:hover) {
  border-color: transparent;
}

.on-hover {
  opacity: 0;

  &:hover {
    opacity: 0;
  }
}

tr:hover .fa-bookmark-o {
  opacity: 1;
}

.border {
  &-thin {
    background-color: transparent;
    border-style: solid;
    border-width: thin;
  }

  &-none {
    border: none;
  }
}

.fa {
  font-size: 14px;
}

.item-url {
  text-decoration: none;

  &-cell {
    display: block;
  }
}

.loading {
  margin-top: .5rem;

  &-left {
    color: $green;
  }

  &-center {
    color: $yellow;
  }

  &-right {
    color: $red;
  }
}

.table {
  tr {
    margin: 3rem !important;
  }
  th {
    border-top: none;

    button {
      border: none;
    }
  }

  td {
    border-top: .3rem solid transparent;
    border-bottom: .3rem solid white;
  }
}
