<!-- Item List -->

<table class="table table-sm table-hover"
       *ngIf="getCurrentList()">


  <!-- Header -->

  <thead>
  <tr>

    <!-- Number of Comments -->
    <th class="d-none d-sm-table-cell text-center"
        *ngIf="getCurrentListId() !== 'jobstories'">
      <button class="btn btn-outline-dark btn-sm"
              (click)="setSortingProperty('descendants')"
              ngbTooltip="{{ isListSorted('descendants') ? 'Reset' : 'Sort by Comments' }}">
        <ng-container *ngTemplateOutlet="commentsIcon"></ng-container>
      </button>
    </th>

    <!-- Score -->
    <th class="d-none d-sm-table-cell text-center">
      <button class="btn btn-outline-dark btn-sm"
              (click)="setSortingProperty('score')"
              ngbTooltip="{{ isListSorted('score') ? 'Reset' : 'Sort by Score' }}">
        <ng-container *ngTemplateOutlet="scoreIcon"></ng-container>
      </button>
    </th>

    <!-- Title -->
    <th>
      <span class="d-none d-sm-inline">Title</span>

      <!-- Sorting Icons (On Small Screens Only) -->
      <span class="d-sm-none">
        Sort by
        <span (click)="setSortingProperty('score')">
          <ng-container *ngTemplateOutlet="scoreIcon"></ng-container>
        </span>
        <span (click)="setSortingProperty('descendants')">
          <ng-container *ngTemplateOutlet="commentsIcon"></ng-container>
        </span>
      </span>

      <!-- Badges -->
      <div class="float-right">
        <div class="badge alert-success text-dark"
             [ngClass]="{'border-thin': isListSorted()}">
          <span class="d-none d-sm-inline">Top </span>50%
        </div>
        <div class="badge alert-warning text-dark"
             [ngClass]="{'border-thin': isListSorted()}">
          <span class="d-none d-sm-inline">Top </span>33%
        </div>
        <div class="badge alert-danger text-dark"
             [ngClass]="{'border-thin': isListSorted()}">
          <span class="d-none d-sm-inline">Top </span>10%
        </div>
      </div>

    </th>

  </tr>
  </thead>


  <!-- Body -->

  <tbody>
  <tr *ngFor="let item of getCurrentList()"
      [ngStyle]="getStoryRankingStyle(item.score)">

    <!-- Comments -->
    <td class="d-none d-sm-table-cell text-center"
        *ngIf="getCurrentListId() !== 'jobstories'"
        [ngClass]="{'border-none': isListSorted()}">
      <a class="item-url item-url-cell"
         [href]="getItemHnUrl(item._id)">
        <span class="text-dark">{{ item.descendants || 0 }}</span>
      </a>
    </td>

    <!-- Score -->
    <td class="d-none d-sm-table-cell text-center"
        [ngClass]="{'border-none': isListSorted()}">
      <a class="item-url item-url-cell"
         [href]="getItemHnUrl(item._id)">
        <span class="text-dark">{{ item.score }}</span>
      </a>
    </td>

    <!-- Title -->
    <td [ngClass]="{'border-none': isListSorted()}">

      <a class="item-url item-url-cell"
         [href]="item.url || getItemHnUrl(item._id)">

        <!-- Title -->
        <span class="text-dark">{{ item.title }}</span>

        <!-- Add a New Line on Small Screens -->
        <br class="d-sm-none">

        <!-- Website -->
        <a class="item-url"
           [href]="'http://' + getItemWebsite(item.url, true)">
          <small class="text-secondary">{{ getItemWebsite(item.url) }}</small>
        </a>

        <!-- Stats -->
        <a class="item-url d-sm-none text-secondary"
           [href]="getItemHnUrl(item._id)">
          <small>
            <i class="fa fa-thumbs-o-up"></i> {{ item.score }}
          </small>
          <small *ngIf="item.type !== 'job'">
            <i class="fa fa-comments-o"></i> {{ item.descendants }}
          </small>
        </a>

        <!-- Job Label -->
        <small>
          <span
            *ngIf="item.type === 'job' && getCurrentListId() !== 'jobstories'"
            class="badge badge-light text-secondary">
            Job
          </span>
        </small>

        <!-- Bookmark -->
        <button class="bookmark btn btn-outline-light btn-xs float-right"
                (click)="onBookmark(item._id, $event); false">
          <i class="fa fa-bookmark text-secondary"
             *ngIf="isBookmarked(item._id)"></i>
          <i class="on-hover fa fa-bookmark-o d-none d-sm-inline text-secondary"
             *ngIf="!isBookmarked(item._id)"></i>
          <i class="fa fa-bookmark-o d-inline d-sm-none text-secondary"
             *ngIf="!isBookmarked(item._id)"></i>
        </button>

      </a>

    </td>

  </tr>
  </tbody>

</table>


<!-- Spinner -->

<div class="loading text-center" *ngIf="!getCurrentList()">
  <i class="loading-left fa fa-cog fa-spin fa-fw"></i>
  <i class="loading-center fa fa-cog fa-spin fa-fw"></i>
  <i class="loading-right fa fa-cog fa-spin fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>


<!-- Templates -->

<ng-template #commentsIcon>
  <i class="fa"
     [ngClass]="{'fa-comments': isListSorted('descendants'),
              'fa-comments-o': !isListSorted('descendants')}"></i>
</ng-template>

<ng-template #scoreIcon>
  <i class="fa"
     [ngClass]="{'fa-thumbs-up': isListSorted('score'),
              'fa-thumbs-o-up': !isListSorted('score')}"></i>
</ng-template>
