<h1 class="text-center">Bookmarks</h1>

<p class="text-center"
   *ngIf="bookmarks?.length === 0">You don't have bookmarks yet.</p>

<table class="table table-sm table-striped">
  <tbody>
  <tr *ngFor="let bookmark of bookmarks">
    <td>

      <!-- Title -->
      <a class="item-url"
         [href]="bookmark.item.url || getItemHnUrl(bookmark.item._id)">
        <span class="item-title text-dark">{{ bookmark.item.title }}</span>
      </a>

      <br class="d-inline d-sm-none">

      <!-- Website -->
      <a class="item-url"
         [href]="'http://' + getItemWebsite(bookmark.item.url, true)">
        <small class="text-secondary">
          {{ getItemWebsite(bookmark.item.url) }}
        </small>
      </a>

      <br class="d-inline d-sm-none">

      <!-- HN Info -->
      <a class="item-url"
         [href]="getItemHnUrl(bookmark.item._id)">
        <small class="text-secondary">

          <!-- Date -->
          <i class="fa fa-clock-o d-none d-sm-inline" aria-hidden="true"></i>
          {{ bookmark.item.time * 1000 | date }}

          <!-- Score -->
          <i class="fa fa-thumbs-o-up"></i>
          {{ bookmark.item.score }}

          <!-- Number of Comments -->
          <span *ngIf="bookmark.item.type !== 'job'" class="text-secondary">
            <i class="fa fa-comments-o"></i>
            {{ bookmark.item.descendants }}
          </span>

        </small>
      </a>

    </td>


    <!-- Delete Bookmark -->

    <td class="action-lg d-none d-sm-table-cell">
      <button class="btn btn-outline-danger btn-sm float-right"
              (click)="deleteBookmark(bookmark)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </td>
    <td class="action-sm d-table-cell d-sm-none">
      <button class="btn btn-outline-secondary btn-sm float-right"
              (click)="deleteBookmark(bookmark)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </td>

  </tr>
  </tbody>
</table>


