a.item-url {
  text-decoration: none;
}

td {
  border-top: .3rem solid transparent;

  &.action {
    &-lg {
      opacity: 0;
      vertical-align: middle;

      button {
        padding: 0 0.3rem;
      }
    }
    &-sm {
      vertical-align: bottom;
    }
  }
}

tr:hover > td.action-lg {
  opacity: 1;
}

.btn {
  border: none;
}

.fa {
  font-size: 14px;
}

.item-title {
  display: inline;
  margin-bottom: .1rem;
}
