<!-- Navbar -->

<app-header class="d-none d-sm-block container"></app-header>
<app-header class="d-sm-none"></app-header>


<!-- Well, the App -->

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
