/* You can add global styles to this file, and also import other style files */

$green: #d4edda;
$red: #f8d7da;
$yellow: #fff3cd;

*:focus {
  box-shadow: none !important;
  outline: none !important;
}

body {
  font-family: 'Nunito', light;
  font-size: 16px;
}
