<!-- Story List -->

<app-story-list></app-story-list>


<!-- Hacker News API Reference-->

<div class="hacker-news-api text-center">
  <a href="https://github.com/HackerNews/API">
    <small class="text-secondary">
      Powered by
      <i class="fa fa-hacker-news" aria-hidden="true"></i>
      Hacker News API
    </small>
  </a>
</div>
